@inherits LayoutComponentBase

<PageTitle>Application</PageTitle>

<div id="dialogs" class="stretch">
    @foreach (RenderFragment renderFragment in DialogService.RenderAllDialogs())
    {
        @renderFragment
    }
</div>

<div id="context-menus">
    @foreach (RenderFragment renderFragment in ContextMenuService.RenderContextMenus())
    {
        @renderFragment
    }
</div>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    
    <main>
        <div class="nav-main navbar-dark top-row px-4">
            <MainNavBar/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
