dialog {
    font-size: 12px;
    border: none;
    box-shadow: 0 0 20px hsl(0, 0%, 26%);
    /*transform: translate(0, 30px);*/
    z-index: 1003;
    width: 400px;
    pointer-events: auto;
}

dialog form {
    padding: 0 5px;
}

dialog legend {
    font-size: 13px;
    font-weight: bold;
    float: none;
    margin: 0;
}

dialog button {
    border: none;
    padding: 5px 10px;
    width: 75px;
}

dialog input {
    display: inline-flex;
    flex-grow: 1;
    border: 1px solid hsl(0, 0%, 77%);
    outline: none;
    padding: 2px 5px;
}

dialog label {
    margin-right: 10px;
}

dialog div.dialog-header {
    width: 100%;
    padding-bottom: 10px;
}

dialog div.dialog-body {
    width: 100%;
    padding-bottom: 20px;
}

dialog div.dialog-footer {
    width: 100%;
}

dialog button.dialog-close {
    background: url("img/x.svg") no-repeat 50% 50%;
    background-size: 10px;
    padding-left: 11px;
    padding-right: 11px;
    width: 32px;
    height: 32px;
}

dialog > form > div > button.highlight:hover {
    background-color: #ddd;
}