@inject IContextMenuService ContextMenuService

<button class="nostyle highlight @(Class)" Disabled="@Disabled" style="position:relative;">
    @if (!Disabled) @ContextMenuService.RenderMenuHandler(ContextMenuId, Trigger, $"{MenuClass} fill-parent")
    @Body
    @ChildContent
</button>

@code
{
    #region Parameters

    [Parameter]
    public MouseButtonTrigger Trigger { get; set; } = MouseButtonTrigger.Left;
    
    [Parameter]
    public required string ContextMenuId { get; set; }
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    [Parameter]
    public string? Class { get; set; }
    
    [Parameter]
    public string? MenuClass { get; set; }
    
    [Parameter]
    public bool Disabled { get; set; }

    #endregion

    #region Properties

    protected string Body => ChildContent is null ? HtmlEntity.NON_BREAKING_SPACE.ToString() : string.Empty;

    #endregion
}