<div class="flex-spacer" hidden="@Hidden">
    @HtmlEntity.NON_BREAKING_SPACE
</div>

@code
{
    #region Parameters

    [Parameter]
    public bool Hidden { get; set; }

    #endregion
}
