<div id="@Id" class="stretch @Class" hidden="@HiddenString"></div>

@code
{
    #region Parameters

    [Parameter]
    public bool Hidden { get; set; } = true;
    
    [Parameter]
    public string? Id { get; set; }
    
    [Parameter]
    public string? Class { get; set; }
    
    #endregion

    #region Properties

    private string? HiddenString => Hidden ? "hidden" : null;

    #endregion

    #region Public Methods

    public void Show()
    {
        Hidden = false;
        InvokeAsync(StateHasChanged);
    }

    public void Hide()
    {
        Hidden = true;
        InvokeAsync(StateHasChanged);
    }

    #endregion
}