<input class="search-bar search-icon" type="search" placeholder="@Placeholder">

<div class="search-cancel"></div>

@code
{
    #region Parameters

    [Parameter]
    public string? Placeholder { get; set; }

    #endregion
}